{% extends 'base.html' %}

{% block content %}

<div style="display: block">
    <div class="search-wrapper" style="position: center">
        <h3>Регистрация</h3>
        <form class="search-form" method="post">
            {% csrf_token %}

        {{ form.password1 }}
        {{ form.password2 }}

            <div class="form-group">
                <div class="input-group">
                    {{ form.username }}
                    <input type="text" class="form-control" placeholder="Фамилия" name="lastname" id="lastname">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="e-mail" name="mail" id="mail">
                </div>
            </div>
            <div class="form-group">
                <button class="button border-0 mt-3" type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>



{% endblock content %}