{% extends 'base_list.html' %}
{% load static %}
{% block inner_title %}
    StudyGuide - Новости
{% endblock %}

{% block any_content %}
    <!--================Hero Banner Area Start =================-->
    <section class="hero-banner magic-ball">
        <div class="container">
            <div class="row align-items-center text-center text-md-left">
                <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
                    <h1>Новости</h1>
                    <p>Мы собираем новости на популярных белорусских пораталах, чтобы бы могли читать об образовании и
                    последних событиях в мире в одном месте. </p>
                </div>
                <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
                    <img class="img-fluid" src="{% static 'img/home/news.png' %}" alt="">
                </div>
            </div>
        </div>
</section>
<!--================Hero Banner Area End =================-->
{% endblock %}

{% block inner_post %}
    {% for n in news %}
        <article class="blog_item">
            <div class="blog_details">
                <a class="d-inline-block" href="{{ n.link }}" target="_blank">
                    <h2>{{ n.title }}</h2>
                </a>
                <p>{{ n.date }}</p>
                <p style="color:black; font-size: 16px; text-align: justify">{{ n.description }}</p>
                <ul class="blog-info-link">
                    <li><a href="#"><i class="far fa-user"></i>{{ n.category }}</a></li>
                    <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                </ul>
                <a href="{{ n.link }}" target="_blank">
                    <button class="button rounded-0 primary-bg text-white w-100" style="margin-top: 15px">
                        Читать в источнике
                    </button>
                </a>

            </div>
        </article>
    {% endfor %}
    {% include "blog/pagination.html" with page=news %}
{% endblock %}


{% block inner_search %}
    <aside class="single_sidebar_widget search_widget">
        <h4 class="widget_title">Поиск по новостям</h4>
        <form action="{% url 'search_news' %}" method="get">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input name="q" type="text" class="form-control" placeholder="Ключевое слово">
                    <div class="input-group-append">
                        <button class="btn" type="button"><i class="ti-search"></i></button>
                    </div>
                </div>
            </div>
            <button class="button rounded-0 primary-bg text-white w-100" type="submit">Искать</button>
        </form>
    </aside>
{% endblock %}


